<div class="main-container">
  <nav (clickOutside)="navbarOpen = false" class="nav-container" [style]="navbarOpen ? '' : 'left : -20vw'">
    <div *ngFor="let navOption of navOptions" [routerLink]="navOption.path" class="nav-option-container">
      <img width="25" height="25" [src]="navOption.icon" alt="option">
      <a style="margin-left: 15px;" class="nav-option">{{navOption.name}}</a>
    </div>
    <div (click)="logout()" class="nav-option-container">
      <img width="25" height="25" src="../assets/logout.png" alt="option">
      <a style="margin-left: 15px;" class="nav-option">Log out</a>
    </div>
  </nav>
  <div class="container" [style]="navbarOpen ? 'width: 85vw' : ''">
    <svg [id]="navbarOpen ? 'opened' : 'closed'" #divRef (click)="openNav()" class="menu-icon" fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"/></svg>
    <router-outlet></router-outlet>
  </div>
</div>
