    <div id="UserListForm" class="header">
        <h2>Users list</h2>
    </div>
    
    <table class="table table-striped">
        <tr>
            <td>Name</td>
            <td>Username</td>
            <td>Email</td>
            <td>Birthdate</td>
            <td>ID</td>

        </tr>
        <tr *ngFor="let User of listUsers">
            <td style="color:rgb(255, 255, 255)">{{User.name}}</td>
            <td style="color:rgb(255, 255, 255)">{{User.email}}</td>
            <td style="color:rgb(255, 255, 255)">{{User.username}}</td>
            <td style="color:rgb(255, 255, 255)">{{User.birthdate}}</td>
            <td style="color:rgb(255, 255, 255)">{{User._id}}</td>
            <td>
                <button class="delete-button" (click)="deleteUser(User._id!)">
                    Delete
                </button>
                <button class="delete-button" (click)="go2UpdateUser(User._id!)">
                    Update
                </button>
            </td>
        </tr>
    </table>
