<div class="eventscreen-container">
	<div class="eventscreen-titles">Eventos</div>
	<div id="carrousel" style="display: inline-flex; width: 90%; height: 210px;">
		<div (click)="backCarrousel()" class="eventscreen-arrowCarrousel">
			<svg style="transform: scaleX(-1);" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<polygon points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"/>
			</svg>
		
		</div>
		<div class="eventscreen-carrousel">
			<div *ngFor="let Event of listEvent; index as eventIndex" [id]="'event_' + eventIndex" class="eventscreen-eachEvent">
				<div class="text">{{Event.title}}</div>
                <img src="https://ae01.alicdn.com/kf/HTB1QCxBXuP2gK0jSZFoq6yuIVXag/Carteles-de-pel-culas-Breaking-Bad-carteles-de-pel-culas-Vintage-de-EE-UU-Papel-Kraft.jpg_Q90.jpg_.webp" style="width:100%">
			</div>
		</div>
		<div (click)="nextCarrousel()" class="eventscreen-arrowCarrousel">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<polygon points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"/>
			</svg>
		</div>
	</div>

</div>
