<div class="home-container">
	<div class="home-header">
		
	</div>
	<div class="home-titles">Series</div>
	<div id="carrousel" style="display: inline-flex; width: 90%; height: 210px;">
		<div (click)="backCarrousel()" class="home-arrowCarrousel">
			<svg style="transform: scaleX(-1);" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<polygon points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"/>
			</svg>
			  
		</div>
		<div class="home-carrousel">
			<div *ngFor="let Serie of listSeries; index as serieIndex" [id]="'serie_' + serieIndex" class="home-eachSerie">
				{{Serie.title}}
			</div>
		</div>
		<div (click)="nextCarrousel()" class="home-arrowCarrousel">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<polygon points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"/>
			</svg>
		</div>
	</div>

</div>
